{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <img style="width:100%;" class="product-image-size" src="{{product.photos.url}}" alt="{{product.photos}}">
        </div>
        <div class="col-sm-6">

            {% if option %}
            <form class="float-left" action="{% url 'product_option:product-option-create' pk=product.pk %}" method="POST">
                {% csrf_token %}
                <select name="product-option" id="">
                    {% for option in options %}
                    <option value="{{option.name}}">
                        {{option.name}}
                    </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">댓글 등록</button>
            </form>
            {% endif%}

        </div>
    </div>

    <div class="row">
        <div class="mt-2">
            {% if product.author.img_profile %}
            <img class="rounded-circle float-left" style="width:50px; height:50px;"
                 src="{{ product.author.img_profile.url }}" alt="">
            {% else %}
            {% load static %}
            <img class="rounded-circle float-left" style="width:50px; height:50px;"
                 src="{% static 'images/blank_user.jpg' %}" alt="">
            {% endif %}

        </div>
        <p style="line-height: 50px; font-size: 20px; margin-left: 20px; font-weight:bold;">{{product.author}}</p>

    </div>

    <div class="row">

        <p>{{product.content}}</p>
    </div>

    <div class="row">
        <form class="float-left" action="{% url 'products:comment-create' product_pk=product.pk %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="댓글 달기" name="content">
            <button type="submit" class="btn btn-success">댓글 등록</button>
        </form>

        <form class="" action="{% url 'products:product-delete' pk=product.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">글삭제</button>
        </form>
    </div>


    <!-- comment 가 있으면 유저이미지 가져오기 -->
    {% for user in user.commented_user.all %}
    {% if user.img_profile and product.comments_of_product.all %}
    <div class="row">
        {{ user.commented_user}}
        <div class="col-md-6">
            <img class="rounded-circle float-left" style="width:50px; height:50px;"
                 src="{{ user.img_profile.url }}" alt="">
            <div>
                <p class="layout-user-name">{{ user.username }}</p>
            </div>
            {% elif not user.img_profile and product.comments_of_product.all %}
            {% load static %}
            <img class="rounded-circle float-left" style="width:50px; height:50px;"
                 src="{% static 'images/blank_user.jpg' %}" alt="">
            <div>
                <p class="layout-user-name">{{ user.username }}</p>
            </div>
            {% endif %}
            {% endfor %}
            <ul style="list-style:none; padding:0; margin:0;">
                {% for comment in comments %}
                <li style="text-align: justify;">
                    {% if comment.author.img_profile %}
                    <img class="rounded-circle float-left" style="width:50px; height:50px;"
                         src="{{comment.author.img_profile.url}}" alt="">
                    {% endif %}
                    <span style="line-height: 50px; font-size: 20px; margin-left: 20px; font-weight:bold;">{{comment.author.username}}</span>
                    <p style="margin-top:5px;">
                        {{comment.content}}
                    </p>

                </li>
                {% endfor%}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
