{% block header %}

<header class="wz-header">
    <div class="header-wrap">
        <div class="home-logo ml-3">
            <a href="{% url 'index' %}">Webaker</a>
        </div>
        <ul style="list-style:none; display: inline-block;">
            <li class="menu mr-2"><a href="">베이커리</a></li>
            <li class="menu mr-2"><a href="">클래스</a></li>
            <li class="menu mr-2"><a href="">기획전</a></li>
        </ul>

        <ul class="layout-header">
            {% if user.is_authenticated %}
            <li>
                <form action="{% url 'members:logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">로그아웃</button>
                </form>
            </li>
            {% else %}
            <li>

            </li>
            <li>

            </li>
            {% endif %}
        </ul>
    </div>

</header>
{% endblock %}