
<div class="posts">
	<a href="{% url 'posts:post-detail' pk=post.pk %}">
		<div class="card mb-3" style="width:250px; float:left; margin: 0 10px;">
			<div class="card-header">
				<div>
					<div class="float-left">
						{% if post.author.img_profile %}
						<img src="{{ post.author.img_profile.url }}"
							 style="width: 30px;"
							 class="rounded-circle float-left mr-1"
							 alt="">
						{% endif %}
						<span>{{ post.author.username }}</span>
						<form action="" method="POST" style="display: inline-block;">
							{% csrf_token %}
							<button type="submit" class="btn btn-outline-primary btn-sm">좋아요</button>
						</form>
					</div>
					<form action="{% url 'posts:post-delete' pk=post.pk %}" method="POST" class="float-right">
						{% csrf_token %}
						<button class="btn btn-danger btn-sm">지우기</button>
					</form>
				</div>
			</div>

			<div class="card-body p-0">
				{% if post.photos %}
				<img width="100%" src="{{ post.photos.url }}" alt="">
				{% endif %}

				{% if post.tags.exists %}
					<div class="container p-2">
						<div>
							<!-- user.like_posts.all에 현재 post가 속하는지 -->
							{% if post in user.like_posts.all %}
							<form action="{% url 'posts:post-dislike' pk=post.pk %}"
										method="POST">
								{% csrf_token %}
								<button class="btn btn-sm btn-primary">좋아요 해제</button>
							</form>
							{% else %}
							<form action="{% url 'posts:post-like' pk=post.pk %}"
										method="POST">
								{% csrf_token %}
								<button class="btn btn-sm btn-outline-primary">좋아요</button>
							</form>
							{% endif %}
						</div>
						<p>{{ post.content_html|safe|linebreaksbr }}</p>
					</div>
				{% endif %}
				<br>
				<p style="margin: 10px; font-size: 14px; color: gray;">{{post.company}}</p>
				<p style="margin: 10px;">{{post.title}}</p>
				<ul>
					{% for comment in post.comments.all %}
						{% include 'include/posts/comment.html' %}
					{% endfor %}
				</ul>
				<div>
					<form action="{% url 'posts:comment-create' post_pk=post.pk %}" method="POST">
						{% csrf_token %}
						<input type="text" name="content" placeholder="댓글입력" class="form-control">
					</form>
				</div>
			</div>
		</div>
	</a>

</div>
