{% extends 'base.html' %}

{% block content %}
<style>
    table, th, td {
        border: solid 1px black;
        border-collapse: collapse;

    }

    table {
        margin: auto;
        text-align: center;
    }

    .cal-input {
        width:100px;
    }

    input {
        text-align: center;
    }

    input::placeholder {

        text-align: center;

    }




</style>

<div class="row">
    <form class="col-sm" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group float-left mr-3">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <div class="float-right" style="margin-top:30px;">
            <button type="submit" class="btn btn-primary">추가</button>
        </div>
    </form>
</div>

<div class="row">
    <table style="width:100%; margin-left:15px;">
        {% load custom_tag %}
        <tr>
            <th colspan="4">나의 재료 목록</th>
        </tr>

        <tr>
            <th>재료이름</th>
            <th>1g가격</th>
            <th>사용된 용량</th>
            <th>가격</th>
        </tr>
        {% for material in materials %}
        <tr>
            <td>{{material.material.name}}</td>
            <td>{{material.material.cost_per_one}}</td>
            <td>{{material.usage}}</td>
            <td>{{material|single_prime_cost}}</td>

            <td>
                <form action="{% url 'costcalculator:item-material-delete' pk=material.pk %}" method="POST"
                      class="float-right">
                    {% csrf_token %}
                    <button style="margin-left: -32px;" class="btn btn-danger btn-sm">빼기</button>
                </form>
            </td>
        </tr>
        {% endfor %}


    </table>
</div>


<div class="row" style="margin-top:20px;">
    {% for item in items %}
    <form class="col-sm" action="{% url 'costcalculator:item-register' pk=item.pk %}" method="POST"
          enctype="multipart/form-data">
        {% endfor %}
        {% csrf_token %}
        <table style="width:100%;">
            <tr>
                <th colspan="5">나의 레시피</th>
            </tr>
            <tr>
                <th>이름</th>
                <th>판매가격</th>
                <th>원가</th>
                <th>수익</th>
                <th>마진</th>
            </tr>
            {% if items.count > 0 %}
            <tr>
                {% for item in items %}
                <td>
                    {{item.name}}
                </td>
                <td>
                    {{item.price}}원
                </td>

                <td>
                    <input name="prime-cost" class="cal-input"  type="text" value="{{cost}}">
                </td>

                <td>
                    <input name="profit" type="text" value="{{ cost| get_profit:item.price }}">
                </td>

                <td>
                    <input name="margin" type="text" value="{{ cost| get_margin:item.price }}">
                </td>


            </tr>
            {% endfor %}

            {% endif %}

        </table>
        <div class="mt-3" style="width:20px; margin:0 auto;">
            <button type="submit" class="btn btn-primary">등록</button>
        </div>
    </form>
</div>



<div class="row mt-3" style="margin:0; margin-top:10px;">
    <a href="{% url 'costcalculator:calculator-menu' %}" class="btn btn-danger">돌아가기</a>
</div>


{% endblock %}
